import { z } from "zod";
import { buildJsonSchemas } from "fastify-zod";





export type *** = z.infer<typeof ***Schema>;

export const {schemas: **yourSchemas**, $ref} = buildJsonSchemas({
  
});