.selectContainer,
.selectMinimalist {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
}

.selectlocation {
  color: var(--color-text);
  background-color: var(--color-bg-block);
  font-size: 14px;
  padding: 10px 30px 10px 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-medium);
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 100%;
  box-shadow: var(--shadow-small);
  transition: all 0.2s ease;
}

.selectlocation:hover {
  border-color: var(--color-border-darker);
}

.selectlocation:focus {
  outline: none;
}

.selectMinimalist .selectlocation {
  color: var(--color-text);
  background-color: var(--color-border);
  font-size: 13px;
  padding: 2px 4px;
  border-radius: var(--radius-small);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
  box-shadow: none;
}

.selectMinimalist .selectlocation:hover {
  background-color: var(--color-border-darker);
  border-color: var(--color-border-darker);
}

.selectMinimalist .chevron {
  right: 0px;
  bottom: 3px;
}

/* .selectMinimalist:focus {
  background-color: var(--color-border);
} */

.chevron {
  position: absolute;
  right: 12px;
  bottom: 12px;
  cursor: pointer;
  z-index: 0;
  pointer-events: none;
}
