.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: x-large;
}

.spacer {
  padding: 1%;
}

.backgroundImage {
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
